/* 4. Select the div with the class 'blossom' and use the background-color property to make the background color 'salmon' */
.Blossom{
  background-color: indianred;
}
/* 5. Select the div with the class 'bubbles' and use the background-color property to make the background color 'deep sky blue' */
.Bubbles{
  background-color: deepskyblue;
}
/* 6. Select the div with the class 'buttercup' and use the background-color property to make the background color 'lime green' */
.Buttercup{
  background-color: limegreen;
}

.containers{
  border: red; 
  
  /* 7. Lastly, in the space below, turn on flexbox for this div by using the display property. Then, use the justify-content property to put space-around the containters! */
  

  
}



/* don't change the code below this comment! */

html {
  height: 100%;
  width: 100%;
}

div{
  border: 5px solid #ffef3d;
  padding: 20px;
  border-radius: 10px;
  text-align: flex-end;
}

img{
  width: 150 px;
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Brush Script MT', cursive;
  color: #ff3d3d;
  text-shadow: 5px 5px #47fcff;
}

body{
  background-color: #eadcdc;
}

h2{
   font-size: 75px;
  font-family: 'Brush Script MT', cursive;
  color: #4c00ff;
}